<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chat Room</h3>
  </div>
  <div class="panel-body">
    <div>

      <div>
        <label>Enter Your Alias:</label>
        <br>
        <input #newAlias>
      </div>

      <div>
        <label>Enter Message:</label>
        <br>
        <input #newTitle>
      </div>



       <button (click)="submitForm(newAlias.value, newTitle.value);newAlias.value=''; newTitle.value=''">Add</button>

    </div>
  </div>
</div>
<!--
<div>
  <app-marketplace></app-marketplace>
</div> -->
