<h2>Chat Log</h2>

<!-- <select (change)="onChange($event.target.value)">
  <option value="allGenres">All Genres</option>
  <option value="Rock">Rock</option>
  <option value="Pop">Pop</option>
  <option value="Electronic">Electronic</option>
  <option value="Jazz">Jazz</option>
</select> -->

<div *ngFor="let album of albums | async | genre:filterByGenre " class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(album)"> <p>{{album.alias}}</p><strong><em>{{album.title}}</em></strong>
      </h3>
      <div *ngIf="currentRoute === '/admin'">
      <br>
      <br>
      <hr>
      <button (click)="editFormOpen(album)">Edit</button>
      <div *ngIf="editForm == true">
      <app-edit-album [selectedAlbum]="album"></app-edit-album>
    </div>
    </div>
  </div>
</div>
